<section class="course-footer">
  <div class="max-width">
    <header class="heading">
      <p>Cursos</p>
      <h2>Do zero ao site! Curso completo de Figma, HTML e CSS</h2>
    </header>
    <div class="course-description">
      <figure>
        <img
          src="{{'/assets/thumbs/c1.png' | absolute_url}}"
          alt="Do zero ao site! Curso completo de Figma, HTML e CSS"
        />
      </figure>
      <div>
        <p>
          Neste curso de HTML, CSS e Figma, você aprenderá a criar sites
          incríveis do zero, sem precisar de conhecimento prévio em programação
          ou design. Com o auxílio de um instrutor experiente, você será guiado
          através de conceitos básicos e avançados de Web Design, desde a
          estruturação de páginas web até a implementação de estilos e layouts
          sofisticados.
        </p>
        <a href="{{'/curso/do-zero-ao-site-curso-completo-de-figma-html-e-css' | absolute_url}}" class="btn btn-large">Quero saber mais</a>
      </div>
    </div>
  </div>
</section>
{% include footer.html %}
