#category {
  .category-header {
    margin-bottom: 2.5rem;
    h1 {
      font-size: 2rem;
      margin-bottom: 10px;
    }

    p {
      max-width: 900px;
      color: $text-gray-color;
    }
  }

  .container {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  article {
    padding: 10px;
    display: flex;
    background-color: $white-color;
    column-gap: 1.25rem;
    border-radius: 8px;
    margin-bottom: 1rem;

    h2 {
      font-size: 24px;
      margin-bottom: 8px;
    }

    p {
      color: $text-gray-color;
      font-size: 18px;
    }

    img {
      width: 150px;
      border-radius: 8px;
    }
  }
}
