@media (max-width: 400px) {
  .single-video-frame {
    padding: 3rem 0;
  }
}

#single {
  padding-top: 2rem;
  margin-bottom: 5rem;
  a {
    color: $highlight-color;
    text-decoration: underline;
  }

  p {
    margin-bottom: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1.25rem;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  p > code,
  h2 > code,
  h3 > code {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    background-color: #e7ebfa;
  }

  strong {
    font-weight: 600;
  }

  header {
    margin: 1.25rem 0 1rem;

    h1 {
      font-size: 2.5rem;
    }

    time {
      color: #9497a7;
      display: flex;
      font-size: 14px;
      align-items: center;

      img {
        width: 18px;
        margin-right: 8px;
      }
    }
  }

  @media (max-width: 525px) {
    header {
      h1 {
        font-size: 2rem;
      }
    }

    h2 {
      font-size: 1.7rem;
    }
  }

  .comments {
    margin-bottom: 3rem;
  }

  .frame-video-container {
    margin-bottom: 20px;
  }

  .tags {
    margin: 2rem 0 3rem;

    span {
      display: inline-flex;
      align-items: center;
      height: 32px;
      color: #454f81;
      background-color: #dbdef0;
      padding: 0 1.25rem 0 1.5rem;
      border-radius: 0.5rem;
      margin-right: 1rem;
      margin-bottom: 0.625rem;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: -8px;
        top: 3px;
        width: 27px;
        height: 27px;
        background-color: #dbdef0;
        transform: rotate(45deg);
        border-radius: 0.5rem;
      }

      &::after {
        content: "";
        position: absolute;
        width: 0.5rem;
        height: 0.5rem;
        background-color: $body-color;
        border-radius: 0.25rem;
        display: block;
        top: 12px;
        left: 0;
      }
    }
  }
}
