$primary-color: #0eb597;
$body-color: #f4f5fb;
$white-color: #ffffff;
$text-color: #2c2c2c;
$text-gray-color: #606e6b;
$dark-color: #090a0e;
$highlight-color: #ff6d34;
$line-color: #d9d9d9;
$font-default: "Poppins", sans-serif;
$font-menu: "Poppins", sans-serif;
$font-heading: "Montserrat", sans-serif;